#promotion-details-form table {
	width: 100%;
}

#promotion-details-form tr td {
	vertical-align: top;
}

#promotion-details-form tr td:first-child {
	width: 18%;
	min-width: 125px;
}

#promotion-details-form tr td:last-child {
	widht: 88%;
}

#promotion-details-form .ee-numeric {
	width: 100px;
}

#promotions-applied-to-mbox input[type='checkbox'] {
	margin-top: 1px;
}

#promotion-details-form .dashicons-tagcloud {
	font-size: 20px;
	top: 0px;
	margin-right: 3px;
}

#promotion-details-form .regular-text, #promotion-details-form select {
	margin-right: 15px;
}

.ee-promotions-applies-to-filters {
	background-color: #ededed;
	padding: 10px;
	padding-top: 1px;
}

.ee-promotions-applies-to-filters select {
	width: 100%;
}


.ee-promotions-applies-to-filters .promotions-date-filter, .ee-date-column .ee-datepicker {
	position: relative;
	margin-top: 8px;
	padding-right: 25px;
}

.ee-promotions-applies-to-filters .promotions-date-filter {
	width: 100%;
}

.ee-promotions-applies-to-filters .promotions-general-filter {
	margin-top: 8px;
	padding-top: 5px;
}

.ee-promotions-applies-to-filters .button {
	margin-top: 8px;
}

.ee-promotions-applies-to-filters .dashicons {
	display: inline-block;
	float: right;
}

.ee-promotions-applies-to-filters .dashicons-calendar:before {
	position: absolute;
	font-size: 18px;
	top: -22px;
	left: -18px;
}

.ee-date-column .dashicons-calendar:before {
	position:absolute;
	font-size: 18px;
	top: -10px;
	left: -40px;
}

.ee-date-column .dashicons-editor-removeformatting:before {
	position:absolute;
	font-size: 18px;
	top: -10px;
	left: -10px;
}

.ee-promotions-applies-to-selector {
	margin-top: 15px;
}

.ee-sort-container, .ee-promotions-applies-to-paging {
	display: inline-block;
	float: right;
}

.ee-promotions-applies-to-paging {
	margin-top: 10px;
}

.ee-sort-container .dashicons:before {
	font-size: 20px;
}

.ee-promotions-applies-to-items-container {
	margin-top: 5px;
	border: 1px solid grey;
	padding: 1px 10px;
	min-height: 180px;
	max-height: 360px;
}

.ee-promotions-applies-to-filters .spinner {
	position: relative;
	top: 10px;
}


/** LIST TABLE **/
.wp-list-table.promotion #id {
	width: 3%;
}

.wp-list-table.promotion #name {
	width: 15%;
}

.wp-list-table.promotion #code {
	width: 20%;
}

.wp-list-table.promotion #applies_to {
	width: 15%;
}

.wp-list-table.promotion #valid_from, .wp-list-table.promotion #valid_until {
	width: 10%;
}

.wp-list-table.promotion #amount {
	width: 8%;
}

.wp-list-table.promotion .column-amount {
	text-align: right;
}

.wp-list-table.promotion #redeemed {
	width: 8%;
}

.wp-list-table.promotion .column-redeemed {
	text-align: right;
}

.wp-list-table.promotion #actions {
	width: 15%;
	text-align: right;
}

.wp-list-table.promotion .column-actions {
	text-align: right;
}

/** status strip **/

/*upcoming*/
.pro-status-PRU {
	border-left-color: #00B1CA;
}

/*active*/
.pro-status-PRA {
	border-left-color: #70CC50;
}

/*expired*/
.pro-status-PRX {
	border-left-color: #AC9D9C;
}

.widefat td.column-pro_status, .widefat th.column-pro_status {
	width: 2%;
	padding: 0;
	margin: 0;
}

.ee-status-legend-PRU {
	background-color: #00B1CA;
}
.ee-status-legend-PRA {
	background-color: #70CC50;
}
.ee-status-legend-PRX {
	background-color: #AC9D9C;
}
