#promotion-details-form table {
	width: 100%;
}

#promotion-details-form tr td {
	vertical-align: top;
}

#promotion-details-form tr td:first-child {
	width: 18%;
	min-width: 125px;
}

#promotion-details-form tr td:last-child {
	widht: 88%;
}

#promotion-details-form .ee-numeric {
	width: 100px;
}

#promotions-applied-to-mbox input[type='checkbox'] {
	margin-top: 1px;
}

#promotion-details-form .dashicons-tagcloud {
	font-size: 20px;
	top: 0px;
	margin-right: 3px;
}

#promotion-details-form .regular-text, #promotion-details-form select {
	margin-right: 15px;
}

.ee-promotions-applies-to-filters {
	background-color: #ededed;
	padding: 10px;
	padding-top: 1px;
}

.ee-promotions-applies-to-filters select {
	width: 100%;
}


.ee-promotions-applies-to-filters .promotions-date-filter {
	position: relative;
	width: 100%;
	margin-top: 8px;
	padding-right: 25px;
}

.ee-promotions-applies-to-filters .dashicons {
	display: inline-block;
	float: right;
}

.ee-promotions-applies-to-filters .dashicons-calendar:before {
	position: absolute;
	font-size: 18px;
	top: -22px;
	left: -18px;
}

.ee-promotions-applies-to-selector {
	margin-top: 15px;
}

.ee-sort-container, .ee-promotions-applies-to-paging {
	display: inline-block;
	float: right;
}

.ee-promotions-applies-to-paging {
	margin-top: 10px;
}

.ee-sort-container .dashicons:before {
	font-size: 20px;
}

.ee-promotions-applies-to-items-container {
	margin-top: 15px;
	border: 1px solid grey;
	padding: 10px;
	min-height: 180px;
}
